%h1 ショッピングカート

%table
  %thead
    %tr
      %th Product
      %th Quantity
      -#%th
      -#%th
      -#%th

  %tbody
    - @cart_products.each do |cart_product|
      %tr
        %td= cart_product.product.name
        %td= cart_product.quantity
        -#%td= link_to 'Show', cart_product
        -#%td= link_to 'Edit', edit_cart_product_path(cart_product)
        -#%td= link_to 'Destroy', cart_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to '商品一覧に戻る', :root
