/ <li>
/ <haml_loud> link_to_unless current_page.last?, raw(t &#39;views.pagination.last&#39;), url, {:remote =&gt; remote} </haml_loud>
/ </li>
= content_tag(:li, class: ("disabled" if current_page.last?)) do        |
    link_to_unless(current_page.last?,                                  |
                   t('views.pagination.last').html_safe, url) do |name| |
      content_tag(:span, name)                                          |
    end                                                                 |
  end                                                                   |
