.cart_page-title {
  position: relative;

  .btn {
    position: absolute;
    right: 0;
    bottom: 0;

  }


}

.cart_product_img {
  width: 150px;
  height: auto;
}
.cart-quantity-input {
  display: block;
}

