!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakuraMarket
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbarEexample7", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            さくらマーケット
        #navbarEexample7.collapse.navbar-collapse
          -#%ul.nav.navbar-nav
          -#  %li
          -#    %a{:href => "#"} 日記を見る
          -#  %li.active
          -#    %a{:href => "#"} お買い物
          -#  %li
          -#    %a{:href => "#"} ショッピングカート

          %p.navbar-text.navbar-right
            -#ようこそ
            -#%a.navbar-link{:href => "#"} ゲスト
            -#さん。
            %a{:href => "#"} ログイン

          %p.navbar-text.navbar-right
            %a{:href => "#"} ユーザー登録

    .container.bg-info
      = yield
